<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="contact">
      <h2 class="title">Contact <span>Us</span></h2>
      <div class="contactInfo">
        <form>
          <fieldset>
            <input type="text" placeholder="enter your name" />
            <input type="email" placeholder="enter your email" />
            <input
              type="number"
              placeholder="enter your age"
              max="50"
              min="18"
            />
            <input type="number" placeholder="enter your number"/>
            <input type="text" placeholder="message" />
            <button type="submit">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
