<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="review">
      <h2 class="title">Reviewer</h2>
      <div class="reviewInfo">
        <div class="reviewCard">
          <img src="../assets/images/review1.jpg" />
          <h4>Shawn Micheal</h4>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="socialIcon">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>
          <button (click)="editTxt1()">{{title1}}</button>
        </div>
        <div class="reviewCard">
          <img src="../assets/images/review2.jpg" />
          <h4>Dwarne Johnson</h4>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="socialIcon">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>
          <button (click)="editTxt2()">{{title2}}</button>

        </div>
        <div class="reviewCard">
          <img src="../assets/images/review3.jpg" />
          <h4>Roman Reign</h4>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
          <div class="socialIcon">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>
          <button (click)="editTxt3()">{{title3}}</button>
        </div>
      </div>
    </div>
  </body>
</html>
