<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="home">
      <div class="homeInfo">
        <h2>Start Your Journey With Skybag</h2>
        <h4>The journey of a thousand miles begins with a cash advance.</h4>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel
          voluptatem accusantium incidunt facere libero itaque delectus beatae
          voluptatum fugit? Expedita magnam asperiores repellendus. A, quisquam?
        </p>
        <p>{{title?"": "Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Eum excepturi dolores tenetur perspiciatis unde.Quod nostrum eligendi autem.
          Pariatur rem consequuntur doloribus placeat atque repellat.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel
          voluptatem accusantium incidunt facere libero itaque delectus beatae
          voluptatum fugit? Expedita magnam asperiores repellendus."}}</p>
        <button class="btn" (click)="changeTxt()">{{title?"Read More":"Read Less"}}</button>
      </div>
    </div>
  </body>
</html>
